@using Microsoft.AspNetCore.Identity
@using Shop.DAL.Data.Entities
@using Shop.Models.UserModels;
@model List<ApplicationUser>;
@inject UserManager<ApplicationUser> _userManager;

<div class="pagetitle">
    <h1>Home</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Admin</a></li>
            <li class="breadcrumb-item active">Users</li>
        </ol>
    </nav>
</div>

<section>
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Users</h5>
                <div class="users-filter">
                    <form action="">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="id-filter">
                                    <input placeholder="ID" class="form-control" type="text" name="id" pattern=“^[{]?[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}[}]?$” id="userId">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="name-filter">
                                    <input placeholder="USERNAME" class="form-control" type="text" name="name" id="nameFilter">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="email-filter">
                                    <input placeholder="EMAIL" class="form-control" type="email" name="email" id="userEmail">
                                </div>
                            </div>
                        </div>
                    </form>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    id
                                </th>
                                <th>
                                    email
                                </th>
                                <th>
                                    username
                                </th>
                                <th>edit</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            @if(Model != null) {
                                @foreach (var user in Model)
                                {
                                    @if (await _userManager.IsInRoleAsync(user, "Admin"))
                                    {
                                        <tr class="table-primary">
                                            <td scope="row">@user.Id</td>
                                            <th>@user.Email</th>
                                            <th>@user.UserName</th>
                                            <td>
                                                <a asp-controller="Admin" asp-action="EditUser" asp-route-userID="@user.Id">edit</a>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td scope="row">@user.Id</td>
                                            <th>@user.Email</th>
                                            <th>@user.UserName</th>
                                            <td>
                                                <a asp-controller="Admin" asp-action="EditUser" asp-route-userID="@user.Id">edit</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>