@using Microsoft.AspNetCore.Mvc.Localization
@using Shop.Services
@inject IViewLocalizer Localizer
@inject CategoryService CategoryService;
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>LetItBuy</title>
    <link rel="shortcut icon" type="image/x-icon" width="50" href="/favicon.ico"/>
    @RenderSection("Styles",false)
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.2.0/zephyr/bootstrap.min.css" integrity="sha512-4hshmZC4nWxAKC1H3MJBd2uRv+gRBkcBODzZoj3Jzd0XrF+osekpAAI1W7ASmMTuSKzrq+3xDoTfNU2sbNK67w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body style="margin:0px; height:100%;">
    
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand col-md-3" asp-controller="Home" asp-action="GetWelcomePage">
            <img src="/Logos/Zip/png/logo-no-background.png"  width="50" height="30" alt="logobrand"/>
            LetItBuy
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav me-auto">            
            <li class="nav-item dropdown" >    
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@Localizer["Catalogs"]</a>
                <div class="dropdown-menu">
                            @foreach (var category in CategoryService.GetCategories())
                            {
                                <a class="dropdown-item" asp-controller="Home" asp-action="ItemsByCategory" asp-route-categoryId="@category.Id">@category.Name</a>
                            }
                </div>
            </li>
            <li class="nav-item">
                <form method="get" class="d-flex align-content-center" asp-controller="Home" asp-action="SearchItems">
                    <input required name="q" class="form-control me-sm-2" type="text" placeholder="@Localizer["SearchPlaceholder"]">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">@Localizer["SearchButton"]</button>
                  </form>
            </li>
            

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@Localizer["Account"]</a>
              <div class="dropdown-menu">
                   @if(User.Identity.IsAuthenticated)
                   {
                       @if(User.IsInRole("Admin")) {
                           <a class="dropdown-item" asp-controller="Admin" asp-action="GetAdminPanel">@Localizer["Adminpanel"]</a>
                       }
                        
                       <a class="dropdown-item" asp-controller="User" asp-action="GetProfile">@Localizer["Myaccount"]</a>
                       <a class="dropdown-item">@Localizer["Mycart"]</a>
                       <a asp-action="MyItems" asp-controller="User" class="dropdown-item">@Localizer["Myitems"]</a>
                       <a asp-action="MySells" asp-controller="User" class="dropdown-item">@Localizer["Mysells"]</a>
                       <a asp-action="MyOrders" asp-controller="User" class="dropdown-item">@Localizer["MyOrders"]</a>
                       <div class="dropdown-divider"></div>
                       <a class="dropdown-item" asp-route-returnUrl='@(@Context.Request.Path + @Context.Request.QueryString)' asp-controller="Account" asp-action="Logout">@Localizer["Logout"]</a>
                   } else {                      
                       <a class="dropdown-item" asp-controller="Account" asp-action="Login">@Localizer["Login"]</a>
                       <a class="dropdown-item" asp-controller="Account" asp-action="Register">@Localizer["Register"]</a>
                   }
              </div>
            </li>
          </ul>
          
          
          
        </div>
      </div>
    </nav>

    
	<div class="pt-4 pb-4">
		@RenderBody()     
	</div>
    

    <div class="">   
      <footer class="bg-light text-center text-white">
          
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
          <a
            class="btn text-white btn-floating m-1"
            style="background-color: #55acee;"
            href="#!"
            role="button"
            ><i class="fa fa-twitter"></i
          ></a>
      
          <a
            class="btn text-white btn-floating m-1"
            style="background-color: #ac2bac;"
            href="#!"
            role="button"
            ><i class="fa fa-instagram"></i
          ></a>

          <a
            class="btn text-white btn-floating m-1"
            style="background-color: #0082ca;"
            href="#!"
            role="button"
            ><i class="fa fa-linkedin"></i
          ></a>

          <a
            class="btn text-white btn-floating m-1"
            style="background-color: #333333;"
            href="#!"
            role="button"
            ><i class="fa fa-github"></i
          ></a>
        </section>
        <div class="container col-2 mb-3"> 
            <span style="color:black;">@Localizer["SelectLanguage"]:</span>@await Html.PartialAsync("_SelectLanguagePartial")
        </div>
      </div>
          <!-- Copyright -->
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            LetItBuy
          </div>
        </footer>
    </div>

    
    @*<script async="async" type="text/javascript">   
        window.onload = function() {
            window.history.pushState({}, document.title, window.location.pathname);
        };
    </script>*@
    
	<script src="~/lib/jquery/dist/jquery.min.js"></script>	
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>