@using Shop.DAL.Data.Entities;
@model List<Order>;


<div class="row">
    @if(Model != null) {
        @foreach (var order in Model)
        {
            <div class="card">
                <div class="card-body mt-3">
                    <a asp-controller="Item" asp-action="GetItem" asp-route-id="@order.ItemID" class="card-title">@order.ItemName</a>
                    <p>Status : @order.Status</p>
                    <div class="row">
                        <div>
                            <h4>Delivery</h4>
                            <p>Deliver to city: @order.DeliveryInfo.City</p>
                            <p>Deliver by '@order.DeliveryInfo.PostName' POST</p>
                            <p>Branch : #@order.DeliveryInfo.PostNumber, @order.DeliveryInfo.PostAddress street</p>
                        </div>
                    </div>
                    @if (order.Status != OrderStatus.Canceled)
                    {
                        <a asp-route-returnUri="@string.Format( Context.Request.Path + Context.Request.QueryString )" asp-controller="Item" asp-action="CancelSell" asp-route-id="@order.OrderID" class="btn btn-dark col-12 mb-3">Cancel order</a>
                    }
                    <a asp-route-returnUri="@string.Format( Context.Request.Path + Context.Request.QueryString )" asp-controller="Item" asp-action="DeleteSell" asp-route-id="@order.OrderID" class="btn btn-dark col-12 mb-3">Delete<i class="bi bi-trash"></i></a>
                </div>
            </div>
        }
    }
</div>