@using Microsoft.AspNetCore.Mvc.Localization
@using Shop.Models.UserModels;
@using Shop.Models;
@model Shop.Models.UserModels.ProfileViewModel;
@inject IViewLocalizer Localizer
@{
    var imageUrlFull = @"\" + Model?.ImageUrl;
}
@section Styles {
    <head>
        <link rel="stylesheet" href="~/css/userProfile.css"/>
    </head>
    
}
@if (Model != null) {
    <div class="main container">
        <div class="topinfo">
            <div class="userImage">
                @if (Model.ImageUrl == null)
                {             
                        <img class="profileImage" style="border-radius:50%;" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" />
                        <div class="imageoptions">
                            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal">@Localizer["SelectNewPhoto"]</button>
                            <div id="myModal" class="modal fade">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">@Localizer["ChooseFile"]</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form asp-action="SetPhoto" asp-controller="User" method="post" enctype="multipart/form-data" id="choosePhoto">
                                                <input class="form-control" required type="file" name="photo" /><br>
                                            </form>
                                        </div>
                                        <div class="modal-footer"><button onclick="document.getElementById('choosePhoto').submit();" class="btn btn-default" type="button" data-dismiss="modal">@Localizer["SendPhoto"]</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>                                            
                } else
                {                       
                    <img class="profileImage" style="border-radius:50%;"  src='@imageUrlFull' alt="userphoto"/>
                    <div class="imageoptions">
                        <button onclick="deletePhoto()" class="btn btn-primary">@Localizer["DeletePhoto"]</button>
                    </div>       
                }
            </div>
            <div class="userIdentityInfo">
                <h2>@Model.UserName</h2>
                <p>@Model.Email</p>
            </div>
        </div>
        <hr>
        <div class="editprofile">
            <div class="editLogin">
                <p>@Localizer["Login"]</p>
                <p>@Model.UserName</p>
                <a asp-controller="User" asp-action="EditUserName">@Localizer["Edit"]</a>
            </div>
            <hr>
            <div class="editEmail">
                <p>@Localizer["Email"]</p>
                <p>@Model.Email</p>
                <a asp-controller="Account" asp-action="ChangeEmail">@Localizer["Edit"]</a>
            </div>
            <hr>
            <div class="editPassword">
                <p>@Localizer["Password"]</p>
                <p>********</p>
                <a asp-controller="Account" asp-action="ChangePassword">@Localizer["Edit"]</a>
            </div>
        </div>
        <hr>
        <div class="deleteProfile d-grid">
            <button class="btn btn-danger btn-lg" type="button" data-toggle="modal" data-target="#myModal2">@Localizer["DeleteAccount"]</button>
            <div id="myModal2" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">@Localizer["ConfirmDelete"]</h4>
                            </div>
                            <div class="modal-body">
                                @Localizer["AreUSureToDelete"]
                                <form asp-controller="Account" asp-action="DeleteMyAccount" id="formDeleteAccount">
                                    <fieldset>
                                        <legend>@Localizer["EnterPassword"]</legend>
                                        <div class="form-group">
                                          <label for="exampleInputPassword1" class="form-label mt-4">@Localizer["Password"]</label>
                                          <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-default" type="button" data-dismiss="modal">@Localizer["No"]</button>
                                <button onclick="deleteAccount()" class="btn btn-danger" type="button">@Localizer["Yes"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    <script src="~/js/userProfile.js"></script>
}