@using Shop.DAL.Data.Entities
@model List<Item>

    
@if(Model != null) {
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card col-md-12 border-top border-bottom">
                <div class="card-body">
                    <h3 class="card-title">Name: @item.Name</h3>
                    <p class="card-text">Description: @item.Description</p>
                    <p class="card-text">Price: @item.Price @item.Currency</p>
                    <p class="card-text">Category: @item.CategoryName @item.Category_Id</p>
                    <h3 class="border-top">Number criterias:</h3>
                    @foreach (var ncv in item.NumberCriteriaValues.ToList())
                    {
                        <div class="">
                            <p class="card-text">@ncv.CriteriaName - @ncv.Value</p>
                        </div>
                    }
                    <h3 class="border-top">String criterias:</h3>
                    @foreach (var scv in item.StringCriteriaValues.ToList())
                    {
                        <div class="">
                            <p class="card-text">@scv.CriteriaName - @scv.Value</p> 
                        </div>
                    }
                </div>
            </div>
        }
    </div>
}