@using Shop.DAL.Data.Entities
@model List<Category>;


@if (Model != null) {
    <div class="row">
        @foreach (var cat in Model)
        {
            <div class="col-md-12 category border-2 mt-3 mb-3">
                <h5>@cat.Name</h5><br>
                <p>@cat.Id</p><br>
                @if(cat.NumberCriteriasValues != null) {
                    @foreach (var NCV in cat.NumberCriteriasValues)
                    {
                        <p>@NCV.Value @NCV.ValueID : @NCV.CriteriaID @NCV.CategoryID</p><br />
                    }
                    @foreach (var SCV in cat.StringCriteriasValues)
                    {
                        <p>@SCV.Value @SCV.ValueID : @SCV.CriteriaID @SCV.CategoryID</p><br />
                    }
                }
            </div>
        }
    </div>
}