@*@using Microsoft.AspNetCore.Mvc.Localization
@using Shop.DAL.Data.Entities;
@model Item;

@inject IViewLocalizer Localizer;
@{
    var imgUrlCorrect = string.Format("\\ItemPhotos\\" + Model?.ImageUrl);
}

@section Styles {
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/css/ItemPage.css" rel="stylesheet" />
}
@if(Model!=null) {

    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    @if(imgUrlCorrect != null)
                    {
                        <img class="card-img-top mb-5 mb-md-0" src="@imgUrlCorrect">
                    } else {        
                        <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." />
                    }
                </div>
                <div class="col-md-6">
                    <h1 class="display-5 fw-bolder">@Model.Name</h1>
                    <div class="fs-5 mb-5">
                        <span>@Model.Currency @Model.Price</span>
                    </div>
                    <p class="lead">@Model.Description</p>
                    <div class="d-flex">
                        <a style="margin-right: 5px;" asp-action="BuyItem" asp-controller="User" asp-route-itemId="@Model.ID" class="btn btn-outline-dark flex-shrink-0"> 
                                Buy
                            </a>
                        <a asp-action="AddToCart" asp-controller="User" asp-route-itemId="@Model.ID" class="btn btn-outline-dark flex-shrink-0">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Specs section -->
    <section class="py-5 bg-light">
        <div class="container px-4 px-lg-5 mt-7">
            <h2 class="fw-bolder mb-4">Specifications</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <table class="table table-responsive "  style="box-shadow:none;">
                    <tbody>
                        @foreach (var charact in Model.Characteristics)
                        {
                            <tr>
                                <th>@charact.Name</th>
                                <th>@*charact.Value</th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>

} *@