@using Microsoft.AspNetCore.Mvc.Localization
@using Shop.Models.ViewDTO
@model IEnumerable<ItemViewDTO>
@inject IViewLocalizer Localizer;
@{
    ViewData["Title"] = "Search results";
}
@section Styles {
    <link rel="stylesheet" href="~/css/ManyItems.css"/>
}
@if(Model != null & Model.Count() > 0) {
    <table class="table table-hover">
        @foreach (var item in Model)
        {
           <tr onclick="location.replace('/Home/ItemPage?id=@item.ItemId')">  
                 <th scope="row">
                    @if(item.ImageURL == null)
                    {
                        <img class="itemImageSearch" src="https://gogeticon.net/files/1406874/995a3e47908a75edf8c47335835c1355.png"/>
                    } else
                    {
                        <img class="itemImageSearch" src="@item.ImageURL"/>
                    }
                 </th>
                 <td class="text-item">@item.ItemName</td>
                 <td class="text-item">@item.ItemPrice</td>
          </tr>     
        }
    </table>
} else if (@Model.Count() == 0) {
    <h3>@Localizer["NoItemsFound"]</h3>
}