@using Microsoft.AspNetCore.Mvc.Localization
@using Shop.Models.ViewDTO
@model IEnumerable<ItemViewDTO>
@inject IViewLocalizer Localizer;
@{
    ViewData["Title"] = "Search results";
}
@section Styles {
    <link rel="stylesheet" href="~/css/ManyItems.css"/>
}

@if(Model != null & Model.Count() > 0)
{
    <div class="d-flex">
        @foreach (var advert in Model)
        { 
            <div class="card col-md-2" style="margin-left:5px;">
                <h3 class="card-header">@advert.ItemName</h3>
                @if (advert.ImageURL != null)
                {
                    <img class="card-img-top" alt="advertphoto" src="@advert.ImageURL"/>
                } else
                {
                    <img class="card-img-top"  src="https://psmvideo.ru/assets/d0e40864/empty.jpg"/>
                }
                <div class="card-body">
                    @advert.Description
                </div>
                <a class="btn btn-primary" asp-controller="Home" asp-action="ItemPage" asp-route-id="@advert.ItemId" style="margin: 2px 5px 8px 5px;">@Localizer["GoToItemPage"]</a>
            </div>
        }
    </div>
}

@*@if(Model != null & Model.Count() > 0) {
    <table class="table table-hover">
        @foreach (var item in Model)
        {
           <tr onclick="location.replace('/Home/ItemPage?id=@item.ItemId')">  
                 <th scope="row">
                    @if(item.ImageURL == null)
                    {
                        <img class="itemImageSearch" src="https://gogeticon.net/files/1406874/995a3e47908a75edf8c47335835c1355.png"/>
                    } else
                    {
                        <img class="itemImageSearch" src="@item.ImageURL"/>
                    }
                 </th>
                 <td class="text-item">@item.ItemName</td>
                 <td class="text-item">@item.ItemPrice @item.Currency</td>
          </tr>     
        }
    </table>
} else if (@Model.Count() == 0) {
    <h3>@Localizer["NoItemsFound"]</h3>
}*@