@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Shop.Models.ViewDTO;
@using Shop.UI
@model SearchViewModel;
@inject IStringLocalizer<LocalizeCriteria> CriteriaLocalizer;
@inject IViewLocalizer Localizer;

<div class="pagetitle">
    <h1>Home</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">@Localizer["Home"]</a></li>
            <li class="breadcrumb-item active">@Localizer["Search"]</li>
        </ol>
    </nav>
</div>
<section>
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Localizer["Enterquery"]</h5>
                <div class="filter">
                    <form asp-controller="Home" asp-action="Index" method="get">
                        <input asp-for="@Model.CategoryID" value="@Model.Category?.Id" type="text" name="CategoryID" class="d-none"/>
                        <input asp-for="@Model.Filter.CategoryID" value="@Model.Category?.Id" type="text" class="d-none" />
                        <div class="col mb-3">
                            <input value="@Model.Filter.query" asp-for="@Model.Filter.query"  class="form-control">
                        </div>
                        <div class="accordion mb-3" id="accordionExample">
                            <div class="accordion-item">
                                <div class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        @Localizer["Filters"]
                                    </button>
                                </div>
                                <div id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample" class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="row mb-3">
                                                <label for="inputNumber" class="col-sm-2 col-form-label">@Localizer["Minprice"]</label>
                                                <div class="col-sm-10">
                                                    <input value="@Model.Filter.minPrice" asp-for="@Model.Filter.minPrice" min="0" type="number" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label for="inputNumber" class="col-sm-2 col-form-label">@Localizer["Maxprice"]</label>
                                                <div class="col-sm-10">
                                                    <input value="@Model.Filter.maxPrice" asp-for="@Model.Filter.maxPrice" min="1" type="number" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            @if (Model.Category != null && Model.Category.NumberCriterias != null) {
                                                @foreach (var numGroup in Model.Category.NumberCriterias)
                                                {
                                                    <div class="numGroup col-md-3">
                                                        <select multiple class="form-select" id="@numGroup.key.CriteriaName">
                                                            <option selected disabled>@numGroup.key.CriteriaName</option>
                                                            @foreach (var num in numGroup.value)
                                                            {
                                                                <option value="@num.ValueID">@num.Value</option>
                                                            }
                                                        </select>
                                                    </div>
                                                }
                                            }
                                            @if (Model.Category != null && Model.Category.StringCriterias != null)
                                            {
                                                @foreach (var strGroup in Model.Category.StringCriterias)
                                                {
                                                     <div class="numGroup col-md-3 mt-3">
                                                        <select multiple class="form-select" id="@strGroup.key.CriteriaName">
                                                            <option selected disabled>@strGroup.key.CriteriaName</option>
                                                            @foreach (var num in strGroup.value)
                                                            {
                                                                <option value="@num.ValueID">@num.Value</option>
                                                            }
                                                        </select>
                                                     </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="">
                                <button type="submit" class="btn btn-primary">@Localizer["Search"]</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        @if(Model.items != null) {
            <div class="col-md-4  mb-3">
                <a href="">@Localizer["Name"] <i class="bi bi-arrow-up"></i></a>
                <a href="">@Localizer["Price"] <i class="bi bi-arrow-down"></i></a>
            </div>
            @foreach (var item in Model.items) {
                <div class="card mb-3">
                    <div class="row g-0 mt-3">
                        <div class="col-md-4">
                            <img src="@item.ImageUrl" alt="itemimage">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <a class="card-title" asp-controller="Item" asp-action="GetItem" asp-route-id="@item.ID">@item.Name</a>
                                <p class="card-text">@item.Description</p>
                                <div class="card-text"><strong>@item.Price @item.Currency</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</section>