@using Microsoft.AspNetCore.Mvc.Localization
@using Shop.BLL.DTO;
@using Shop.UI.Models.ViewDTO
@model ItemViewModel;

@inject IViewLocalizer Localizer;
@section Styles {
    <title>@Model.Item.Name</title>
}
<div class="pagetitle">
        <h1>@Model.Item.Name</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">@Localizer["Item"]</a></li>
            <li class="breadcrumb-item active">@Model.Item.CategoryName</li>
        </ol>
    </nav>
</div>
<section>
    <div class="row">
        <div class="col-md-4">
            @if (Model.Item.Photos != null && Model.Item.Photos.Count() > 0)
            {
                @for (int i = 0; i < Model.Item.Photos.Count(); i++)
                {
                    <div id="carouselExampleIndicators" class="carousel" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            if (i == 0) {
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" class="active" aria-label="Slide @i" aria-current="true"></button>
                            }
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" aria-label="Slide @i" class=""></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item carousel-item-next carousel-item-start">
                            <img src="@string.Format(Model.Item.Photos.ElementAt(i).FileName)" class="img img-fluid rounded d-block w-100" alt="...">
                        </div> 
                    </div>
                    
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">@Localizer["Previous"]</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">@Localizer["Next"]</span>
                    </button>
                    </div>
                }
            } else {
                <img class="img img-fluid rounded-1" src="https://www.elegantthemes.com/blog/wp-content/uploads/2020/02/000-404.png?w=1024" />
            }
        </div>
        <div class="col-md-8">
            <div class="card item-info">
                <div class="card-body">
                    <h5 class="card-title mb-0" style="font-size: larger !important;">@Model.Item.Name</h5>
                    <div class="mainiteminfo">
                        <small><b> @Localizer["Code"]:</b><code> @Model.Item.ID</code></small>
                        <p>@Model.Item.Description</p>
                        @Localizer["State"]: @if (Model.Item.IsNew) { <b>@Localizer["NEW"]</b> } else {<b>@Localizer["USED"]</b>}
                        <p class="display-6"><b>@Model.Item.Price @Model.Item.Currency</b></p>
                        <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#verticalycentered">@Localizer["Buy"] <i class="bi bi-shop"></i></button>
                        <div class="modal fade" id="verticalycentered" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">@Localizer["Buying"] @Model.Item.Name</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" style="padding-bottom:0;">
                                        <form asp-controller="Home" asp-action="BuyItem" method="post" class="row">

                                            <div class="form-group col-5">
                                                <label for="">@Localizer["Main info"]</label>
                                                <input required asp-for="@Model.BuyModel.ItemID" type="text" value="@Model.Item.ID" name="ItemID" class="d-none mb-3 form-control" readonly />
                                                <input required asp-for="@Model.BuyModel.OwnerID" type="text" value="@Model.Item.OwnerUser.Id" name="OwnerID" class="d-none" />
                                                <input required asp-for="@Model.BuyModel.Name" type="text" class="mb-3 form-control" name="Name" placeholder='@Localizer["Name"]' id="">
                                                <input required asp-for="@Model.BuyModel.LastName" type="text" class="mb-3 form-control" name="LastName" placeholder='@Localizer["LastName"]' id="">
                                                <input required asp-for="@Model.BuyModel.PhoneNumber" type="tel" class="mb-3 form-control" name="PhoneNumber" placeholder='@Localizer["phonenumber"]' id="">
                                            </div>
                                            <div class="col-7 form-group">
                                                <label for="">@Localizer["Delivery data"]</label>
                                                <input required asp-for="@Model.BuyModel.City" class="form-control mb-3" type="text" name="city" placeholder="@Localizer["City"]" id="">
                                                <select required asp-for="@Model.BuyModel.PostName" name="PostName" class="form-select mb-3" id="selectpost">
                                                    <option value="disabled" disabled selected>@Localizer["Select post service"]</option>
                                                    <option value="Nova Poshta">@Localizer["Nova Posta"]</option>
                                                    <option value="Ukrposhta">@Localizer["Ukrposhta"]</option>
                                                    <option value="Meest Express">@Localizer["Meest Express"]</option>
                                                    <option value="Other">@Localizer["Other"]</option>
                                                </select>
                                                <input asp-for="@Model.BuyModel.OtherPostName" id="nameofpost" type="text" class="d-none mb-3 form-control" name="OtherPostName" placeholder="@Localizer["Postname"]">
                                                <input required asp-for="@Model.BuyModel.PostNumber" type="text" class="mb-3 form-control" name="PostNumber" id="" placeholder="@Localizer["Post number viddilennia"]">
                                                <input required asp-for="@Model.BuyModel.PostAddress" type="text" class="mb-3 form-control" name="PostAddress" id="" placeholder="@Localizer["Post address viddilennia"]">
                                            </div>

                                            
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["Close"]</button>
                                                <button type="submit" class="btn btn-primary">@Localizer["Confirm"]</button>
                                            </div>
                                        </form>
                                        <script>
                                            
                                            document.getElementById("selectpost").onchange = function (data) {
                                                var postname = document.getElementById("nameofpost");
                                                if (data.target.value == "Other") {
                                                    postname.classList.remove("d-none");
                                                    postname.classList.add("d-block");
                                                } else {
                                                    postname.classList.add("d-none");
                                                    postname.classList.remove("d-block");
                                                }
                                            }
                                        </script>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">@Localizer["Specifications"]</h3>
                    brand - apple
                </div>
            </div>
        </div>

        <div class="col-md-12 owner-info">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">@Localizer["Contact"]</h3>
                    <div class="ownerinfocontact">
                        @if (Model.Item.OwnerUser.PhoneNumber != null) {
                            <i class="bi bi-telephone"></i>
                            <span>@Localizer["Owner phone"]: </span>
                            <a href="tel:+380987654321">@Model.Item.OwnerUser.PhoneNumber</a><br>
                        }
                        @if (Model.Item.OwnerUser.Email != null)
                        {
                            <i class="bi bi-envelope"></i>
                            <span>@Localizer["Email"]: </span>
                            <a href="mailto:sdfV@mail.com">@Model.Item.OwnerUser.Email</a>
                        }
                        <button class="btn mt-3 w-100 btn-dark">@Localizer["Start chat"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>